@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    /* Text Color */
    --title-color: #000;
    --text-color: #5f5f5f;

    /* Default Color */
    --default-color: rgba(238, 238, 238, 0.8);

    /* Background Color */
    --body-background: #b3daff;

    /* Style Color */
    --style-color: #4070f4;
    --dark-color: #0b3cc1;
}

/* ***********
    Style Color
     *********** */

.style__color1 {
    /* Background Color */
    --body-background: #b3daff;

    /* Style Color */
    --style-color: #4070f4;
    --dark-color: #0b3cc1;
}

.style__color2 {
    /* Background Color */
    --body-background: #fef5e6;

    /* Style Color */
    --style-color: #f79f1f;
    --dark-color: #dd8808;
}

.style__color3 {
    /* Background Color */
    --body-background: #eadaf1;

    /* Style Color */
    --style-color: #8e44ad;
    --dark-color: #783993;
}

.style__color4 {
    /* Background Color */
    --body-background: #daf1dc;

    /* Style Color */
    --style-color: #3a9943;
    --dark-color: #2a6f31;
}

/* **************
    General Styles
     ************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar,
.popup__project::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track,
.popup__project::-webkit-scrollbar-track {
    background: var(--body-background);
}

body::-webkit-scrollbar-thumb,
.popup__project::-webkit-scrollbar-thumb {
    background: var(--style-color);
    border-radius: 6px;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    background: var(--body-background);
    position: relative;
    transition: background 0.5s ease;
}

body.hide__scrollbar {
    overflow-y: hidden;
}

/* Buttons */
.button {
    display: block;
    margin: 40px 0 0 40px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.button a {
    display: block;
    padding: 10px 30px;
    color: var(--style-color);
    background: transparent;
    border: 2px solid var(--style-color);
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s ease;
}

.button:hover a {
    color: #fff;
    background: var(--style-color);
} 

/* Sections Containers */
.container {
    width: 90%;
    max-width: 92rem;
    height: 100%;
    margin: auto;
    padding: 50px 0 30px 0;
    background: transparent;
}

/* Section Title */
.section__title {
    max-width: 250px;
    margin: 30px auto 60px;
    color: var(--title-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    position: relative;
}

.section__title::after {
    content: '';
    width: 40px;
    height: 30px;
    background: transparent;
    border-top: 5px solid var(--style-color);
    border-left: 5px solid var(--style-color);
    position: absolute;
    top: -15px;
    left: 0;
    transition: border 0.5s ease;
}

.section__title::before {
    content: '';
    width: 40px;
    height: 30px;
    background: transparent;
    border-right: 5px solid var(--style-color);
    border-bottom: 5px solid var(--style-color);
    position: absolute;
    right: 0;
    bottom: -15px;
    transition: border 0.5s ease;
}

/* ************
    Menu Buttons
     ************ */

/* Button Menu */
.menu__button {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background: var(--dark-color);
    border-radius: 50%;
    color: var(--body-background);
    text-align: center;
    line-height: 50px;
    display: none;
    cursor: pointer;  
    transition: transform 0.2s ease;
}

.menu__button:hover {
    transform: scale(1.1);
}

.menu__button i {
    font-size: 1.6rem;
    font-weight: 600;
}

/* ***********
    Menu Styles 
     *********** */

.nav__bar {
    width: 100%;
    height: 60px;
    background: transparent;
    box-shadow: 0 0 25px -20px var(--title-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: background 0.7s ease;
}

/* Navigation Sticky Bar */
.nav__bar.sticky__bar {
    background: var(--style-color);
}

.nav__bar.sticky__bar .nav__logo a,
.nav__bar.sticky__bar .nav__menu .nav__link {
    color: #fff;
}

.nav__container {
    width: 90%;
    max-width: 1250px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

/* Logotype */
.nav__logo a {
    white-space: nowrap;
    text-decoration: none;
    color: var(--title-color);
    font-size: 1.8rem;
    font-weight: 900;
    transition: color 0.5s ease;
}

.nav__logo i {
    margin-left: 5px;
    color: var(--dark-color);
    font-size: 1.6rem;
    font-weight: 600;
    transition: color 0.5s ease;
}

.nav__logo i:hover {
    transform: rotate(-25deg);
} 

/* Navigation Menu */
.nav__menu {
    height: 100%;
    position: relative;
}

.nav__list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__item {
    margin-right: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.5s ease;
}

.nav__link {
    height: 100%;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.5s ease;
}

.nav__link i {
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 5px;
}

/* Hover Effects Menu */
.nav__item:hover,
.nav__item.actived__link {
    background: var(--dark-color);
}

.nav__item:hover .nav__link,
.nav__item.actived__link .nav__link {
    color: #fff;
}

/* **************
    Style Switcher 
     ************** */

.style__switcher {
    padding: 10px;
    background: var(--body-background);
    backdrop-filter: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 90px;
    right: -185px;
    z-index: 5;
    transition: right 0.5s ease;
}    

/* Colors Container Visible */
.style__switcher.show__colors {
    right: 10px;
}

/* Style Switcher Buttons */
.switcher__container {
    width: 45px;
    height: 45px;
    margin-right: 25px;
    padding-top: 2px;
    background: transparent;
    border: 3px solid var(--style-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.switcher__container .btn__styleColor i {
    color: var(--style-color);
    font-size: 1.7rem;
    font-weight: 600;
}

/* Colors Container */
.colors__container {
    padding: 10px;
    background: transparent;
    border: 3px solid var(--style-color);
    border-radius: 20px;
}

.colors__container h3 {
    color: var(--style-color);
    text-align: center;
    font-size: 16px;
    font-weight: 900;
}

.colors {
    margin-top: 10px;
    display: flex;
}

.color {
    margin: 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.color:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.color:first-child {
    color: #4070f4;
}

.color:nth-child(2) {
    color: #f79f1f;
}

.color:nth-child(3) {
    color: #8e44ad;
}

.color:last-child {
    color: #3a9943;
}

.color i {
    font-size: 1.7rem;
}



/* **************
    Header Section
     ************** */
.header__container {
    width: 100%;
    height: 100vh;
    max-height: 800px;
    padding-top: 60px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}   

.hero {
    width: 90%;
    max-width: 92rem;
    height: calc(100vh - 120px);
    max-height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* Hero Image */
.hero__img {
    width: 320px;
    height: 320px;
    margin: auto;
    border-top: 8px solid var(--style-color);
    border-left: 5px solid var(--style-color);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    overflow: hidden;
    transition: border 0.5s ease;
}

.hero__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.hero__img:hover img {
    transform: scale(1);
}

/* Hero Info */
.hero__info {
    padding: 30px;
}

.info__text {
    transition: color 0.5s ease;
}

.info__text h1 {
    color: var(--title-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.info__text h1 span {
    margin-left: 40px;
    color: var(--style-color);
    font-size: 3rem;
    font-weight: 900;
    transition: color 0.5s ease;
}

.info__text p {
    margin-top: 10px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 900;
}

.info__text p span {
    color: var(--style-color);
    transition: color 0.5s ease;
}



/* ************
    Main Section 
     ************ */ 
.main {
    width: 100%;
    height: 100%;
    padding: 30px 0;
}

/* ****************
    About Me Section
     **************** */ 
.about__section {
    height: 100vh;
}



/* **************
    Skills Section
     ************** */ 
.skills__container {
    width: 90%;
    margin: auto;
    background: transparent;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}     

/* Skills Cards */
.skill__card {
    width: 100%;
    max-width: 260px;
    height: 230px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.6s ease;
}

.skill__card i {
    margin-bottom: 5px;
    color: var(--style-color);
    font-size: 3.8rem;
    font-weight: 500;
}

.skill__card span {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.skill__card:hover {
    background: var(--style-color);
    transform: scale(1.1);
}

.skill__card:hover i,
.skill__card:hover span {
    color: #fff;
}


/* *****************
    Portfolio Section
     ***************** */ 
.projects__container {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

/* Project Item */
.project__item {
    width: 100%;
    max-width: 380px;   
}

.project__item .item__img {
    width: 100%;
    height: 230px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.item__img div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.item__img div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Project Title */
.item__title {
    margin: 15px 0 0 15px;
    font-size: 1.5rem;
    font-weight: 900;
}

/* Project Button */
.btn__project {
    margin: 15px;
}

/* Project Details */
.item__details {
    display: none;
}



/* *********************
    Project Details PopUp 
     ********************* */
.popup__project {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    overflow-y: auto;
    transition: left 0.7s ease;
}

.popup__project.show__popup {
    left: 0;
}

.popup__container {
    width: 90%;
    max-width: 900px;
    margin: 45px auto;
    padding: 50px;
    background: var(--body-background);
    border-radius: 30px;
    position: relative;
    transform: scale(0);
    transition: transform 0.5s 0.7s ease;
}

.popup__project.show__popup .popup__container {
    transform: scale(1);
}

.btn__closePopup {
    width: 40px;
    height: 40px;
    color: #fff;
    background: var(--style-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn__closePopup:hover {
    transform: scale(1.1);
}

.btn__closePopup i {
    font-size: 2rem;
    font-weight: 600;
}

.popup__img {
    width: 100%;
    box-shadow: 2px -2px 25px -15px black;
}

.popup__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup__title {
    margin: 15px;
    font-size: 2rem;
    font-weight: 900;
}

.popup__description {
    margin-bottom: 20px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
}

.popup__details {
    margin-left: 15px;
}

.popup__details ul {
    list-style: none;
}

.popup__details ul li {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 600;
}

.popup__details ul li span {
    color: var(--text-color);
    font-size: 16px;
}



/* ******
    Footer
     ****** */
.footer {
    padding: 20px;
    background: var(--dark-color);
}     

.footer__container {
    width: 90%;
    margin: auto;
    background: transparent;
    text-align: center;
}

.footer__container h3 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
}

.footer__container hr {
    margin: 10px;
    background: #fff;
}

.footer__container p {
    color: #fff;
    font-size: 1rem;
}

.footer__container p span {
    margin: 0 2px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}







/* *****************
    Responsive Design
     ***************** */

@media screen and (max-width: 1100px) {

    /* Skills Container */
    .skills__container {
        width: 100%;
    }

    /* Portfolio Section */
    .projects__container {
        padding: 0;
        gap: 30px;
    }
    
}     

@media screen and (max-width: 940px) {

    /* Navigation Menu */
    .btn__openMenu,
    .btn__closeMenu {
        display: block;
    }

    .btn__openMenu.hide__button {
        display: none;
    }

    .nav__menu {
        width: 75%;
        max-width: 450px;
        height: calc(100vh - 59px);
        backdrop-filter: blur(10px);
        background: var(--body-background);
        box-shadow: 5px 0 25px -20px var(--title-color);
        position: absolute;
        top: 59px;
        left: -100%;
        z-index: 10;
        transition: all 0.6s ease;
    }

    .nav__bar.sticky__bar .nav__menu {
        background: var(--style-color);
    }

    .nav__menu.show__menu {
        left: 0;
    }

    .btn__closeMenu {
        position: absolute;
        top: 15px;
        right: 10px;
    }

    .nav__list {
        flex-direction: column;
    }

    .nav__item {
        width: 140px;
        margin: 10px 0;
    }

    /* Header Section - Hero */
    .hero {
        grid-template-columns: 1fr;
    }

    .hero__img {
        width: 280px;
        height: 280px;
    }

    .hero__info {
        margin: auto;
    }


    /* Skills Section */
    /* Skills Container */
    .skills__container {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Portfolio Section */
    .projects__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }

    .project__item .item__title {
        font-size: 1.3rem;
    }
    
}

@media screen and (max-width: 760px) {

    /* Skills Section */
    /* Skills Container */
    .skills__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    /* Portfolio Section */
    .projects__container {
        gap: 20px;
    }

    /* PopUp Container */
    .popup__container {
        padding: 20px;
    }
    
}

@media screen and (max-width: 600px) {

    /* Portfolio Section */
    .projects__container {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .project__item {
        margin: auto;
    }
    
}

@media screen and (max-width: 500px) {

    /* Navigation Menu */
    .nav__bar .nav__logo a {
        font-size: 1.5rem;
    }

    /* Style Switcher */
    .style__switcher {
        right: -155px;
    }

    .switcher__container {
        width: 40px;
        height: 40px;
    }

    .style__switcher div i {
        font-size: 1.4rem;
    }

    .colors__container {
        padding: 5px;
    }
    
    .colors__container h3 {
        font-size: 14px;
    }

    /* Skills Section */
    /* Skills Container */
    .skills__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .skills__container .skill__card {
        margin: auto;
    }

    /* Header Section - Hero */
    .hero__img {
        width: 230px;
        height: 230px;
    }

    .info__text h1 span,
    .hero__info button {
        margin-left: 0;
    }

    /* PopUp Container */
    .popup__container .popup__description {
        font-size: 14px;
    }
    
}

@media screen and (max-width: 360px) {

    /* Header Section - Hero */
    .hero {
        width: 95%;
    }

    .hero__img {
        width: 200px;
        height: 200px;
    }

    .info__text h1 {
        font-size: 1.5rem;
    }

    .info__text h1 span {
        font-size: 2rem;
    }

    .info__text p {
        font-size: 1.2rem;
    }

    /* Skills Section */
    .skill__card {
        height: 190px;
    }

    /* Portfolio Section */
    .project__item {
        margin: auto;
    }

    .project__item .item__img {
        height: 180px;
    }

}